@keyframes slideLeftReturn {
    0% {
      transform-origin: 0 0;
      transform: translateX(-950%);
    }
    100% {
      transform-origin: 0 0;
      transform: translateX(600%);
    }
}

@-webkit-keyframes slideLeftReturn {
    0% {
      transform-origin: 0 0;
      transform: translateX(-950%);
    }
    100% {
      transform-origin: 0s 0;
      transform: translateX(600%);
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    border-top: 3px solid #c3c3c3;
    border-left: 3px solid #c3c3c3;
    border-right: 3px solid #303030;
    border-bottom: 3px solid #303030;
}

.headerFront{
    width: 100%;
    height: 50px;
    background-color: #000082;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
}
.headerLogo a{
    text-decoration: none;
}

.headerLogo h1{
    font-family: Windows;
    color:#ffffff;
    font-size: 18px;
    cursor: pointer;
}

.headerLogo h1:hover{
    color:#000;
}

.headerNav li{
    display: inline-block;
    line-height: 10px;
}

.headerLinks{
    list-style: none;
    text-decoration: none;
    font-family: Windows;
    font-weight: bold;
    color:#ffffff;
    outline:none;
    border: 2px solid rgb(255, 255, 255, 0);
    padding: 5px 9px;
}

.headerLinks:hover{
    outline:none;
    background-color: #c3c3c3;
    color: #000;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #525252;
    border-bottom: 2px solid #525252;
    transition: 0.3s all;
}


/* main */

main{
    width: 100%;
    font-family: Windows;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(/images/bg7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.mainCardLeft{
    background-color: #c3c3c3;
    width: 250px;
    height: 100px;
    margin-left: -80px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #525252;
    border-bottom: 2px solid #525252;
    box-shadow: 1px 1px 5px #bebebe;
    position: relative;
}

.mainCardLeft .mainCardNone{
    background-color: #000082;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.mainCardLeft .mainCardNone .x img{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 2px;
    top: 3px;
}

.mainCardLeft .mainCardNone .x img:hover,
.mainCardLeft .mainCardNone .x img:focus {
  outline: 0;
}

.mainCardLeft .mainCardNone .x img:active {
    border: 1px solid rgba(255, 255, 255, 0);
}

.mainCardLeft p{
    font-size: 14px;
    color:#ffffff;
    padding-left: 3px;
}

.mainLeftComputer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.mainLeftComputer img{
    margin-top: 5px;
    margin-left: -50px;
    width: 30px;
}

.mainLeftComputer p{
    margin-top: 5px;
    color:#000;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.mainLeftbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    padding-bottom: 3px;
    background: none;
}


.mainLeftOK{
    margin-top: 5px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #525252;
    border-bottom: 2px solid #525252;
    background-color: #c3c3c3;
    padding: 3px 12px 3px 12px;
    text-transform: uppercase;
    cursor: pointer;
}

.mainLeftOK-btn:hover,
.mainLeftOK-btn:focus {
  outline: 0;
}

.mainLeftOK:active {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #848484;
  border-top: 1px solid #848484;
}

.mainCardCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainAvatar{
    width: 556px;
}

.contentRight{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.mainCardRight{
    background-color: #c3c3c3;
    width: 200px;
    height: 200px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #525252;
    border-bottom: 2px solid #525252;
    position: relative;
    margin-bottom: 100px;
    z-index: 1;
}

.mainCardRight .mainCardNone{
    background-color: #000082;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.mainCardRight .mainCardNone .x img{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 2px;
    top: 3px;
}

.mainCardRight .mainCardNone .x img:hover,
.mainCardRight .mainCardNone .x img:focus {
  outline: 0;
}

.mainCardRight .mainCardNone .x img:active {
    border: 1px solid rgba(255, 255, 255, 0);
}

.mainCardRight p{
    font-size: 14px;
    color:#ffffff;
    padding-left: 3px;
}

.mainRightContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 40%;
    height: 100%;
}

.bookSkills{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -30px;
}

.bookSkills span{
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    align-items: center;
    margin-left: 20px;
}

.bookSkills img{
    margin-left: -40px;
    width: 30px;
}

.checkboxRight{
    margin-top: 30px;
}

.checkboxCustom{
    display: flex;
    align-items: center;
    gap: 5px;
}

label[for=checkbox1]{
    cursor: pointer;
}

.checkboxCustom #checkbox1{
    appearance: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 1px #535353 inset;
    width: 13px;
    height: 13px;
    cursor: pointer;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkboxCustom #checkbox1:before{
    content: "";
    position: absolute;
    width: 4px;
    height: 6px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(45deg);
    opacity: 0;
    top: 1px;
}

.checkboxCustom #checkbox1:checked:before{
    opacity: 1;
}

.checkboxCustom #checkbox1:focus{
    box-shadow: 0px 0px 0px 1px #535353 inset;
}

/* card#2 */

.bck-position{
    position: absolute;
    right: -80px;
    bottom: -40px;
}

.bck-position:hover{
    z-index: 1;
}

.mainCardRight-backend{
    background-color: #c3c3c3;
    width: 200px;
    height: 170px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #525252;
    border-bottom: 2px solid #525252;
    position: relative;
    margin-top: 100px;
}

.mainCardRight-backend .mainCardNone-backend{
    background-color: #000082;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.mainCardRight-backend .mainCardNone-backend .x img{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 2px;
    top: 3px;
}

.mainCardRight-backend .mainCardNone-backend .x img:hover,
.mainCardRight-backend .mainCardNone-backend .x img:focus {
  outline: 0;
}

.mainCardRight-backend .mainCardNone-backend .x img:active {
    border: 1px solid rgba(255, 255, 255, 0);
}


.mainCardRight-backend p{
    font-size: 14px;
    color:#ffffff;
    padding-left: 3px;
}

.mainRightContent-backend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 40%;
    height: 40%;
}

.swordSkills-backend{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
}

.swordSkills-backend span{
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    align-items: center;
    margin-left: 20px;
}

.swordSkills-backend img{
    margin-left: -40px;
    width: 30px;
}

.checkboxRight-backend{
    margin-top: 10px;
}

.checkboxCustom-backend{
    display: flex;
    align-items: center;
    gap: 5px;
}

label[for=checkbox2]{
    cursor: pointer;
}

.checkboxCustom-backend #checkbox2{
    appearance: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 1px #535353 inset;
    width: 13px;
    height: 13px;
    cursor: pointer;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkboxCustom-backend #checkbox2:before{
    content: "";
    position: absolute;
    width: 4px;
    height: 6px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(45deg);
    opacity: 0;
    top: 1px;
}

.checkboxCustom-backend #checkbox2:checked:before{
    opacity: 1;
}

.checkboxCustom-backend #checkbox2:focus{
    box-shadow: 0px 0px 0px 1px #535353 inset;
}


/* footer */

.footerFront{
    font-family: Windows;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #c3c3c3;
    border-top: 3px solid #f5f5f5;
    position: relative;
}

.footerContent{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.startFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    margin-left: 5px;
    margin-right: 3px;
}


.btnStart{
    font-family: Windows;
    background-image: url(/images/button-winStart-avatar1.png);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #525252;
    border-bottom: 2px solid #525252;
    background-color: #c3c3c3;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.btnStart:hover,
.btnStart:focus {
    outline: 0;
    border: none;
    box-shadow: 0.5px 0.5px 0px 1px #525252 inset;
}

.btnStart:active {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #848484;
  border-top: 1px solid #848484;
}

.startFooter a{
    display: flex;
}

.boxFooterContent{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    margin-left: 5px;
}

.boxFooterContent a{
    display: flex;
}


.btnGitHub{
    font-family: Windows;
    background-image: url(/images/github-footer.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: left;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #525252;
    border-bottom: 2px solid #525252;
    background-color: #c3c3c3;
    width: 130px;
    height: 40px;
    cursor: pointer;
}

.btnGitHub:hover,
.btnGitHub:focus {
  outline: 0;
  border: none;
  box-shadow: 0.5px 0.5px 0px 1px #525252 inset;
}

.btnGitHub:active {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #848484;
  border-top: 1px solid #848484;
}

.btnLinkedIn{
    font-family: Windows;
    background-image: url(/images/linkedin-footer.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: left;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #525252;
    border-bottom: 2px solid #525252;
    background-color: #c3c3c3;
    width: 130px;
    height: 40px;
    cursor: pointer;
}

.btnLinkedIn:hover,
.btnLinkedIn:focus {
  outline: 0;
  border: none;
  box-shadow: 0.5px 0.5px 0px 1px #525252 inset;
}

.btnLinkedIn:active {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #848484;
  border-top: 1px solid #848484;
}

.dateBoxContent{
    width: 170px;
    height: 39px;
    box-shadow: 0.5px 0.5px 0px 1px #525252 inset;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#525252;
    position: absolute;
    right: 0;
    margin-right: 5px;
}


/* portfolio */

.mainPortfolio{
    width: 100%;
    height: 556px;
    font-family: Windows;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(/images/bg7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.folderContent{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.folderContent a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.folderContent img{
    width: 150px;
}

.folderContent span{
    color: #000000;
}

.folderContent span:hover{
    color: #820036;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
}


/* about */

.aboutMe{
    width: 100%;
    height: 556px;
    font-family: Windows;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-image: url(/images/bg7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}



.cardAbout{
    width: 600px;
    height: 300px;
    background-color: #c3c3c3;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #525252;
    border-bottom: 2px solid #525252;
    box-sizing: border-box;
}


.cardAboutNone{
    background-color: #000082;
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.notepadImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 2px;
    top: 2px;
}

.notepadImg img{
    width: 19px;
}

.notepadImg span{
    margin-left: 3px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.winImg{
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 5px;
    cursor: pointer;
}

.winImg img{
    width: 18px;
}

.winImg img:hover,
.winImg img:focus {
  outline: 0;
}

.winImg img:active {
    border: 1px solid rgba(255, 255, 255, 0);
}

.textAreaAbout{
    margin: 0 auto;
    width: 98%;
    height: 230px;
    box-shadow: 2px 2px 2px #000 inset;
    background-color: #ffffff;
    box-sizing: border-box;
}

.lineAbout{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lineAbout span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 6px;
    width: 565px;
}

.filesAbout{
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-left: 2px;
}

.filesAbout span{
    font-size: 14px;
    outline: none;
    border: 1px solid rgb(255, 255, 255, 0);
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.filesAbout span:hover{
    padding-left: 5px;
    outline:none;
    background-color: #c3c3c3;
    color: #000;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    transition: 0.3s all;
}

.logoImg{
    position: abosolute;
    -webkit-animation-name: slideLeftReturn;
    animation: slideLeftReturn;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    width: 80px;
    margin-top: 10px;
    z-index: 1;
    filter:drop-shadow(2px 2px 2px #575757);
}


/* form */

.contact{
    margin: 0 auto;
    width: 100%;
    height: 556px;
    font-family: Windows;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/images/bg7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.cardContact{
    margin: 0 auto;
    width: 400px;
    height: 470px;
    background-color: #c3c3c3;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #525252;
    border-bottom: 2px solid #525252;
    box-sizing: border-box;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cardContactNone{
    background-color: #000082;
    width: 99%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}

.cardContactNone span{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #fff;
}

.formContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.fieldContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
}

.fieldContact label{
    margin-left: -5px;
}

.fieldContact input[type=text]{
    font-family: Windows;
    font-size: 14px;
    margin-top: 5px;
    width: 370px;
    height: 30px;
    border: 1px solid #000;
    padding: 3px;
    outline: none;
}

.fieldContact input[type=email]{
    font-family: Windows;
    font-size: 14px;
    margin-top: 5px;
    width: 370px;
    height: 30px;
    border: 1px solid #000;
    padding: 3px;
    outline: none;
}

.fieldContactTextarea textarea{
    font-family: Windows;
    font-size: 14px;
    margin-top: 5px;
    padding: 3px;
    width: 370px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    border: 1px solid #000;
    outline: none;
    resize: none;
}

.fieldContactTextarea label{
    margin-left: -5px;
}

.buttonContact{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}


.btnContact{
    font-family: Windows;
    font-size: 15px;
    width: 370px;
    height: 40px;
    margin-top: 5px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #525252;
    border-bottom: 2px solid #525252;
    background-color: #c3c3c3;
    cursor: pointer;
}

.btnContact:hover,
.btnContact:focus {
  outline: 0;
}

.btnContact:active {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #848484;
  border-top: 1px solid #848484;
}